!!!
html
    head
        title= title
        
        link(rel='stylesheet', href='/css/no-theme/jquery-ui-1.9.1.custom.min.css')
        link(rel='stylesheet', href='/css/style.css')
        
        script(src="/js/date.js")
        script(src="/js/md5.js")
        script(src="/js/jquery-1.8.2.min.js")
        script(src="/js/jquery-ui-1.9.1.custom.min.js")
        script(src="/js/underscore-min.js")
        script(src="/js/backbone-min.js")
        script(src="/js/repo.js")
        script(src="/js/app.js")
  body!= body
